body {
    background-color: lightcyan;
}

.heading {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.section {
    font-family: Arial, Helvetica, sans-serif
}

.recipe-image {
    display: flex;
    justify-content: center;
}
